<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>○☓ゲーム</title>
  <style type="text/css">
    table  { border: 3px solid; text-align: center; vertical-align: middle; }
    td     { border: 3px solid; width:50px; height: 50px; }
    button { width: 30px; height: 30px; }
  </style>
</head>
<body>
  {{/* $.Turnは手番 */}}
  <div>
    {{if $.Win}}
      [{{$.Winner}}の勝ち]
    {{else if $.Draw}}
      [引き分け]
    {{else}}
      [{{$.Turn}}]の手番
    {{end}}
  </div>
  <form action="/game" method="post">
    {{/* 手番は、inputタグのhiddenで送信 */}}
    <input type="hidden" name="turn" value="{{$.Turn}}">
    <table>
    {{/* $.Boardは盤面のデータ ([3][3]string型) */}}
    {{range $row, $rows := $.Board}}
      <tr>
        {{range $col, $cell := $rows}}
          <td>
          {{/* 「"○"」または「"☓"」の場合 */}}
          {{if $cell}}
            {{$cell}}
            <input type="hidden" name="c{{$row}}{{$col}}" value="{{$cell}}">
          {{else}}
            <button name="c{{$row}}{{$col}}" value="{{$.Turn}}"></button>
          {{end}}
          </td>
        {{end}}
      </tr>
    {{end}}
    </table>
  </form>
  <a href="/game">最初に戻る</a>
</body>
</html>
